<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments::head"><head>

<body class ="container">

<h1>Welcome </h1>
<header th:replace ="fragments::header"> </header>

<form method="post">

    <h1>Appetizer</h1>
    <div class=class="container-fluid">
        <div th:each="resmenu:${appetizer}" class="col-sm-4 d-flex align-items-stretch" >
            <div class="card mb-2"  >
                <img class="card-img-top embed-responsive-item" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                    <h6 class="card-text" th:text="${resmenu.description}"></h6>
                    <p class="card-text" th:text="${resmenu.price}">Price</p>
                 <div class ="card-footer">
                     <input type ="checkbox" name="menuid" th:value="${resmenu.id}"  >
                     <input type="submit" value="Add" >
                </div>
            </div>
        </div>
    </div>

        <h1>Soup</h1>
        <div class=class="container-fluid">
            <div th:each="resmenu:${soup}" class="col-sm-4  class=col-sm-4 d-flex align-items-stretch ">
                <div class="card mb-2"  >
                    <img class="card-img-top" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                        <h6 class="card-text" th:text="${resmenu.description}"></h6>
                        <p class="card-text" th:text="${resmenu.price}">Price</p>
                        <div class ="card-footer">
                            <input type ="checkbox" name="menuid" th:value="${resmenu.id}" >
                            <input type="submit" value="Add" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>KidsMenu</h1>
        <div class=class="container-fluid">
            <div th:each="resmenu:${kidsmenu}" class="col-sm-4  class=col-sm-4 d-flex align-items-stretch ">
                <div class="card mb-2"  >
                    <img class="card-img-top" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                        <h6 class="card-text" th:text="${resmenu.description}"></h6>
                        <p class="card-text" th:text="${resmenu.price}">Price</p>
                        <div class ="card-footer">
                            <input type ="checkbox" name="menuid" th:value="${resmenu.id}" >
                            <input type="submit" value="Add" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>Dessert</h1>
        <div class=class="container-fluid">
            <div th:each="resmenu:${dessert}" class="col-sm-4  class=col-sm-4 d-flex align-items-stretch ">
                <div class="card mb-2"  >
                    <img class="card-img-top" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                        <h6 class="card-text" th:text="${resmenu.description}"></h6>
                        <p class="card-text" th:text="${resmenu.price}">Price</p>
                        <div class ="card-footer">
                            <input type ="checkbox" name="menuid"  th:value="${resmenu.id}">
                            <input type="submit" value="Add" >
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>
</form>
</body>
</html>