<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

    <head th:replace="fragments::head">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"></head>


<body class ="container">

<h1>Welcome </h1>
<header th:replace ="fragments::header"> </header>

<h1>Appetizer</h1>
<div class=class="container-fluid">
    <div th:each="resmenu:${appetizer}" class="col-sm-4 d-flex align-items-stretch" >
        <div class="card mb-2"  >
            <img class="card-img-top embed-responsive-item" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                <h6 class="card-text" th:text="${resmenu.description}"></h6>
                <p class="card-text" th:text="${resmenu.price}">Price</p>

            </div>
        </div>
    </div>
 </div>


<h1>Soup</h1>
<div class=class="container-fluid">
    <div th:each="resmenu:${soup}" class="col-sm-4  class=col-sm-4 d-flex align-items-stretch ">
        <div class="card mb-2"  >
            <img class="card-img-top" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                <h6 class="card-text" th:text="${resmenu.description}"></h6>
                <p class="card-text" th:text="${resmenu.price}">Price</p>

            </div>
        </div>
    </div>
</div>

<h1>KidsMenu</h1>
<div class=class="container-fluid">
    <div th:each="resmenu:${kidsmenu}" class="col-sm-4 class=col-sm-4 d-flex align-items-stretch">
        <div class="card mb-2"  >
            <img class="card-img-top embed-responsive-item" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                <h6 class="card-text" th:text="${resmenu.description}"></h6>
                <p class="card-text" th:text="${resmenu.price}">Price</p>

            </div>
        </div>
    </div>
</div>

<h1>Dessert</h1>
<div class=class="container-fluid">
    <div th:each="resmenu:${dessert}" class="col-sm-4 class=col-sm-4 d-flex align-items-stretch ">
        <div class="card mb-2"  >
            <img class="card-img-top" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title" th:text="${resmenu.name}">Menu name</h4>
                <h6 class="card-text" th:text="${resmenu.description}"></h6>
                <p class="card-text" th:text="${resmenu.price}">Price</p>

            </div>
        </div>
    </div>
</div>

    <ul>
        <li  class="nav-item"><a class="nav-link" href="/resmenu/add">Add</a></li>
        <li class="nav-item"><a class="nav-link" href="/resmenu/delete">Delete</a></li>
        <li class="nav-item"><a class="nav-link" href="/resmenu/update">Update</a></li>
    </ul>

</body>

</html>