<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"><head>
<body class ="container">


<form method="post" >
    <table class="table table-striped text-centered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resmenu : ${resmenus}">
            <td th:text="${resmenu.name}" ></td>
            <td th:text="${resmenu.description}"></td>
            <td th:text="${resmenu.price}"></td>
            <td th:text="${resmenu.type}"></td>
<!--            <td><img class="card-img-top embed-responsive-item" th:src="@{'/images/'+${resmenu.photos}}"  alt="Card image" style="width:50%"></td>-->
            <td><input type ="radio" name="menuid" th:value="${resmenu.id}" class="form-control"></td>
            <td><input type="submit" value="update menu" ></td>
        </tr>
        </tbody>
    </table>


<!--    <input type="submit" value=" save">-->
</form>
</body>
</html>